<div [formGroup]="chooserForm" [ngClass]="{selectorWrapper:true}">
  <label>
    {{title}}
    <input
      type="number"
      formControlName="amount"
      [value]="value"
    >
  </label>
  <select formControlName="currency">
    <option
      *ngFor="let currency of currencies"
      [value]="currency.currencyName"
      [selected]="currentCurrency === currency.currencyName"
      [ngValue]="currency.currencyName"
      [ngClass]="{currencies:true}"
    >
      {{currency.currencyName}}
    </option>
  </select>
</div>

