.fields {
  display: flex;
  margin-bottom: 20px;
}

label {
  flex-grow: 2;
}

div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  border: 2px solid transparent;
  transition: 0.3s;
}

input:hover {
  border-color: rgba(100, 149, 237, 100);
}

input:active,
input:focus {
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(100, 149, 237, 100);
}

.selectorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

select {
  flex-grow: 1;
  padding: 9px;
  margin: 10px 0 10px 10px;
  text-align: center;
  border: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

select:hover {
  color: rgba(100, 149, 237, 100);
  border-color: rgba(100, 149, 237, 100);
}

.currencyNames {
  display: flex;
  justify-content: space-between;
}

p {
  padding: 7px 0;
}

.currencies {
  padding: 5px 10px;
  color: cornflowerblue;
  border: 2px solid rgba(100, 149, 237, 100);
  transition: 0.3s;
}

