<div [ngClass]="{currency:true}">
  <h2>Currency exchange</h2>
  <div [ngClass]="{currencyActions:true}">
    <button
      (click)="changeAction($event)"
      data-action="buy"
      [style.backgroundColor]="isBuying ? 'rgba(100, 149, 237, 100)' : 'transparent'"
      [style.color]="isBuying ? '#ffffff' : 'rgba(100, 149, 237, 100)'"
    >
      Buy
    </button>
    <button
      (click)="changeAction($event)"
      data-action="sell"
      [style.backgroundColor]="!isBuying ? 'rgba(100, 149, 237, 100)' : 'transparent'"
      [style.color]="!isBuying ? '#ffffff' : 'rgba(100, 149, 237, 100)'"
    >
      Sell
    </button>
  </div>
  <div [ngClass]="{fields:true}">
    <p>Currency rate:
      <span>
        {{currencyRate.toFixed(3)}}
      </span>
    </p>
    <div *ngIf="isBuying">
      <div [ngClass]="{selectorWrapper:true}">
        <label>
          You give the next amount of:
          <input
            (input)="changeCurrencyFieldFirst($event)"
            value={{amountOfUAH}}
            type="number"
            data-currency="usd"
          >
        </label>
        <select (change)="changeCurrentCurrencyFirst($event)">
          <option
            *ngFor="let currency of currencies"
            [value]="currency.currencyName"
            [selected]="currentCurrencyFirst === currency.currencyName"
            [attr.aria-label]="currency.currencyName"
            [ngValue]="currency.currencyName"
            [ngClass]="{currencies:true}"
          >
            {{currency.currencyName}}
          </option>
        </select>
      </div>
      <div [ngClass]="{selectorWrapper:true}">
        <label>
          You get the next amount of:
          <input
            (input)="changeCurrencyFieldSecond($event)"
            value={{amountOfCurrency}}
            type="number"
            data-currency="currency"
          >
        </label>
        <select (change)="changeCurrentCurrencySecond($event)">
          <option
            *ngFor="let currency of currencies"
            [value]="currency.currencyName"
            [selected]="currentCurrencySecond === currency.currencyName"
            [attr.aria-label]="currency.currencyName"
            [ngValue]="currency.currencyName"
            [ngClass]="{currencies:true}"
          >
            {{currency.currencyName}}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="!isBuying">
      <div [ngClass]="{selectorWrapper:true}">
        <label>
          You get the next amount of:
          <input
            (input)="changeCurrencyFieldSecond($event)"
            value={{amountOfCurrency}}
            type="number"
            data-currency="currency"
          >
        </label>
        <select (change)="changeCurrentCurrencySecond($event)">
          <option
            *ngFor="let currency of currencies"
            [value]="currency.currencyName"
            [selected]="currentCurrencySecond === currency.currencyName"
            [attr.aria-label]="currency.currencyName"
            [ngValue]="currency.currencyName"
            [ngClass]="{currencies:true}"
          >
            {{currency.currencyName}}
          </option>
        </select>
      </div>
      <div [ngClass]="{selectorWrapper:true}">
        <label>
          You give the next amount of:
          <input
            (input)="changeCurrencyFieldFirst($event)"
            value={{amountOfUAH}}
            type="number"
            data-currency="usd"
          >
        </label>
        <select (change)="changeCurrentCurrencyFirst($event)">
          <option
            *ngFor="let currency of currencies"
            [value]="currency.currencyName"
            [selected]="currentCurrencyFirst === currency.currencyName"
            [attr.aria-label]="currency.currencyName"
            [ngValue]="currency.currencyName"
            [ngClass]="{currencies:true}"
          >
            {{currency.currencyName}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
