<form [formGroup]="form" [ngClass]="{currency:true}">
  <h2>Currency exchange</h2>
  <div [ngClass]="{currencyActions:true}">
    <button
      (click)="changeAction($event)"
      data-action="buy"
      [style.backgroundColor]="isBuying ? 'rgba(100, 149, 237, 100)' : 'transparent'"
      [style.color]="isBuying ? '#ffffff' : 'rgba(100, 149, 237, 100)'"
    >
      Buy
    </button>
    <button
      (click)="changeAction($event)"
      data-action="sell"
      [style.backgroundColor]="!isBuying ? 'rgba(100, 149, 237, 100)' : 'transparent'"
      [style.color]="!isBuying ? '#ffffff' : 'rgba(100, 149, 237, 100)'"
    >
      Sell
    </button>
  </div>
  <div [ngClass]="{fields:true}">
    <p>Currency rate:
      <span>
        {{currencyRate.toFixed(3)}}
      </span>
    </p>
    <div *ngIf="isBuying">
      <chooser-comp
        formControlName="firstField"
        [title]="giveAmountTitle"
        [currentCurrency]="currentCurrencyFirst"
        [currencies]="currencies"
        [value]="amountOfUAH"
      ></chooser-comp>
      <chooser-comp
        formControlName="secondField"
        [title]="getAmountTitle"
        [currentCurrency]="currentCurrencySecond"
        [currencies]="currencies"
        [value]="amountOfCurrency"
      ></chooser-comp>
    </div>
    <div *ngIf="!isBuying">
      <chooser-comp
        formControlName="secondField"
        [title]="getAmountTitle"
        [currentCurrency]="currentCurrencySecond"
        [currencies]="currencies"
        [value]="amountOfCurrency"
      ></chooser-comp>
      <chooser-comp
        formControlName="firstField"
        [title]="giveAmountTitle"
        [currentCurrency]="currentCurrencyFirst"
        [currencies]="currencies"
        [value]="amountOfUAH"
      ></chooser-comp>
    </div>
  </div>
</form>
